## Importing

In [1]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Reading CSV files
d2 = pd.read_csv('train data.csv',index_col=0)

In [0]:
# data understanding
d2.head(5)

In [3]:
#changing name of columns
d2.columns = ['Name','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage',
                    'Engine_CC','Power_bhp','Seats','New_Price_Lakh','Price_Lakh']

## Data Analysis

In [0]:
#top 5 rows
d2.head(5)

In [0]:
# bottom 5 rows
d2.tail(5)

In [0]:
# shape of data
d2.shape

In [0]:
#columns of dataset
d2.columns

In [0]:
#size of dataset
d2.size

In [0]:
# datatypes of different attributes
d2.dtypes

##### dtypes gives the information that what type of data does a particular column contain
##### Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_CC,Power_bhp,New_Price_Lakh are object type.
##### Year,Kilometers_Driven are integer type.
##### Seats and Price_Lakh are float type.

In [0]:
# total number of each datatype in dataset
d2.get_dtype_counts()

In [4]:
# number of entities in each column
d2.count()

Name                 6019
Location             6019
Year                 6019
Kilometers_Driven    6019
Fuel_Type            6019
Transmission         6019
Owner_Type           6019
Mileage              6017
Engine_CC            5983
Power_bhp            5983
Seats                5977
New_Price_Lakh        824
Price_Lakh           6019
dtype: int64

## Description

In [5]:
d2.describe()

              Year  Kilometers_Driven        Seats   Price_Lakh
count  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   2013.358199       5.873838e+04     5.278735     9.479468
std       3.269742       9.126884e+04     0.808840    11.187917
min    1998.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [6]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine_CC          5983 non-null   object
 9   Power_bhp          5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price_Lakh     824 non-null    object
 12  Price_Lakh         6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 658.3+ KB

## Handling Missing Values

In [7]:
# checking the missing values
d2.isnull()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_CC,Power_bhp,Seats,New_Price_Lakh,Price_Lakh
0,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,False,False,False,False,False,False,False,False,False,False,False,False,False
6015,False,False,False,False,False,False,False,False,False,False,False,True,False
6016,False,False,False,False,False,False,False,False,False,False,False,True,False
6017,False,False,False,False,False,False,False,False,False,False,False,True,False
6018,False,False,False,False,False,False,False,False,False,False,False,True,False

In [8]:
# sum of all null values
d2.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine_CC              36
Power_bhp              36
Seats                  42
New_Price_Lakh       5195
Price_Lakh              0
dtype: int64

In [9]:
#dropping duplicate values
d2.drop_duplicates()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine_CC,Power_bhp,Seats,New_Price_Lakh,Price_Lakh
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

## Transformation of Data using functions

In [10]:
# converting float data of New_Price column to String
str1 = {'New_Price_Lakh': str }

In [11]:
d2 = d2.astype(str1)

In [12]:
# function to change price value from crore to lakhs
def crore(x):
    l = x.split(' ')
    if "Cr" in x:
        return (str(float(l[0]) * 100) +" "+ "Lakh")
    if "Lakh" in x:
        return (str(float(l[0])) +" "+ "Lakh")
    else:
        return (str(float(l[0])))

In [13]:
# Applying New_Price(in Lakh) column values in crore()
d2['New_Price_Lakh'] = d2['New_Price_Lakh'].apply(crore)

In [14]:
# removing "Lakh" from column New_Price
def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('Lakh', '').replace(',', ''))
    return(x)

In [15]:
# updating New_Price(in Lakh) column values in data set
d2['New_Price_Lakh'] = d2['New_Price_Lakh'].apply(clean_currency).astype('float')

### Engine

In [0]:
# removing "CC" from Engine column 
def clean_CC(y):
    if isinstance(y, str):
        return(y.replace('CC', '').replace(',', ''))
    return(y)

In [0]:
# applying clean_CC() to values of engine column
d2['Engine_CC'] = d2['Engine_CC'].apply(clean_CC).astype('float')

In [0]:
# removing "bhp" from Power column 
def clean_bhp(z):
    if isinstance(z, str):
        return(z.replace('bhp', '').replace(',', ''))
    return(z)

In [0]:
# applying clean_bhp() to values of engine column
d2['Power_bhp'] = d2['Power_bhp'].apply(clean_bhp)

### -Mileage

In [0]:
# Transforming the Mileage from kmkg to kml

# converting data type of Mileage in string
str2 = {'Mileage': str }

In [0]:
d2 = d2.astype(str2)

In [0]:
d2.isin([0]).sum()

In [0]:
def kmplt(x):
    l = x.split(' ')
    if "kmpl" in x:
        return (str(float(l[0]) * 1) +" "+ "kmpl")
    if "km/kg" in x:
        return (str(float(l[0])) +" "+ "kmpl")
    else:
        return (str(float(l[0])))

In [0]:
# removing "kmpl" from column
def clean_mileage(k):
    if isinstance(k, str):
        return(k.replace('kmpl', '').replace(',', ''))
    return(k)

In [0]:
# updating Mileage column values in data set
d2['Mileage'] = d2['Mileage'].apply(clean_mileage)

In [0]:
d2.head()

## Type Conversion

In [0]:
#type conversion of Power(in bhp) from object type to float data type
d2['Power_bhp'] = pd.to_numeric(d2['Power_bhp'],errors='coerce')

In [0]:
# type conversion of Mileage from object type to float
d2['Mileage'] = pd.to_numeric(d2['Mileage'],errors='coerce')

In [0]:
d2.dtypes

In [0]:
# Checking the NaN values of attributes
d2.isna().sum()

## Data Cleaning

###       Engine

In [0]:
d2.Engine_CC.replace(0,np.nan)

In [0]:



d2.Engine_CC.fillna(d2.Engine_CC.median(),inplace=True)

In [0]:
d2.Engine_CC.isna().sum()

#### Mileage

In [0]:
d2.Mileage.replace(0,np.nan)

In [0]:
d2.Mileage.fillna(d2.Mileage.median(),inplace=True)

In [0]:
d2.Mileage.isna().sum()

#### Power

In [0]:
d2.Power_bhp.replace(0,np.nan)

In [0]:
d2.Power_bhp.fillna(d2.Power_bhp.median(),inplace=True)

In [0]:
d2.Power_bhp.isna().sum()

#### seats

In [0]:
d2.Seats.replace(0,np.nan)

In [0]:
d2.Seats.fillna(d2.Mileage.median(),inplace=True)

In [0]:
d2.Seats.isna().sum()

## Visualising the data

#### Name

#### Location

In [0]:
d2['Location'].value_counts().plot(kind='pie')
d2['Location'].value_counts()

#### Seats

In [0]:
d2['Seats'].value_counts().plot(kind='bar')
d2['Seats'].value_counts()

#### Year

In [0]:
d2['Year'].value_counts().plot(kind='bar')
d2['Year'].value_counts()

#### Kilometers driven

In [0]:
d2['Kilometers_Driven'].plot(kind='pie')

#### Fuel Type

In [0]:
d2['Fuel_Type'].value_counts().plot(kind='bar')
d2['Fuel_Type'].value_counts()

#### Transmission

In [0]:
d2['Transmission'].value_counts().plot(kind='pie')
d2['Transmission'].value_counts()

plt.title("TRANSMISSION TYPE")

#### Owner Type

In [0]:
d2['Owner_Type'].value_counts().plot(kind='bar')

d2['Owner_Type'].value_counts()

# Cleaned Data

In [0]:
d2.head()

### VISUALIZATION 2

In [0]:
sns.countplot(d2['Fuel_Type'])
plt.title("Fuel Type")
plt.xlabel('Survival')
plt.ylabel('Count')
plt.show()

In [0]:
survive = sns.countplot(x = 'Fuel_Type', hue = 'Transmission', palette = 'Set3', data = d2)
survive.set(title = 'Fuel Type against Transmission', xlabel = 'Fuel type',ylabel="Mileage")
plt.legend(loc='upper right')
plt.show()

In [0]:
sns.barplot(x='Year',y='Kilometers_Driven',hue='Location',data=d2,palette='Set2')

In [0]:
df=pd.DataFrame(d2)

In [0]:
model=df['Year']

In [0]:
price=df['Price_Lakh']

In [0]:
np.corrcoef(model,price)

In [0]:
plt.scatter(model,price)

### Correlation matrix

In [0]:
plt.figure(figsize=(12,6))
sns.heatmap(car_dat.corr(),annot=True,cmap='YlGnBu')